.footer{
    margin-bottom: 170px!important;
    padding: 0 20px;
    &-links{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #CECECE;
        margin-bottom: 100px;
        padding-bottom: 60px;
        &-title{
            font-size: 20px;
            line-height: 20px;
            margin-bottom: 40px;
            color: #7044CC;
        }
        &-item{
            cursor: pointer;
            text-decoration: none;
            font-size: 17px;
            line-height: 56px;
            color: #677488;
            &:hover{
                cursor: pointer;
                text-decoration: none;
                font-size: 17px;
                line-height: 56px;
                color: #525b68;
            }
        }
        &-contact-item{
            cursor: pointer;
            color: #7044CC;
            font-size: 45px;
            line-height: 40px;
            border-bottom: 3px solid #7044CC;
            text-decoration: none;
            &:hover{
                color: #5b35ac;
                border-bottom: 3px solid #5b35ac;
            }
        }
    }
    &-icon{
        display: flex;
        justify-content: space-between;
        &-link{
            font-size: 20px;    
            line-height: 27px;
        }
    }
}

@media screen and (max-width: 790px){
    .footer{
        &-links{
            flex-direction: column;
            text-align: center;
        }
        &-links{
            &-navigation{
                margin-bottom: 70px;
            }
            &-contact{
                &-item{
                    font-size: 25px;
                    line-height: 34px;
                }
            }
        }
        &-icon{
            &-logo{
                max-width: 100px;
                img{
                    width: 100%;
                }
            }
            &-link{
                font-size: 16px;    
                line-height: 22px;
            }
        }
            
    }
}