@use 'sass:math';

// Подключение шрифтов локально из папки "./src/fonts" =======================================================================================================================
@import 'config/fonts';

// Подключение sass функций и миксинов и рассширений стилей =======================================================================================================================
@import 'config/functions';
@import 'config/mixins';
@import 'config/patternSelectors';

// Подключение переменных =======================================================================================================================
@import 'config/vars';

// Обнуление =======================================================================================================================
@import 'config/reset';

/* =======================================================================================================================
* Библиотеки
* раскомментировать для использования 
*/
@import 'libs/animate';

// Подлючение кастомного скрола для всего сайта =======================================================================================================================
@import 'config/scrollbar';

// Общие параметры, шаблоны(заготовки) и вспомагательные классы =======================================================================================================================
@import 'config/base';

// БЕМ блоки используемые во всё проекте =======================================================================================================================
@import 'config/common';

// Подключение стилей отдельных блоков и секций =======================================================================================================================
@import 'layout/advantages';
@import 'layout/first-screen';
@import 'layout/trust';
@import 'layout/steps';
@import 'layout/cooperation';
@import 'layout/registration';
@import 'layout/question';
@import 'layout/footer';
@import 'layout/form';
@import 'layout/navbar';


body{
    margin: 0;
}

.container{
    max-width: 870px ;
    width: 100%;
    margin: auto;
    padding: 0;
}
.container-fluid{
    max-width: 1600px;
    width: 100%;
    margin: auto;
}

.show{
    display: block !important;
}

.hide{
    display: none !important;
}

@media screen and (max-width: 425px){
    .container{
        max-width: 350px;
        width: 100%;
        // margin: auto;
    }
    .first-screen .container{
        max-width: 350px !important;
        width: 100%;
    }

}

